html {
  height: 100%;
}

body{
  background-image: url('../images/fondo2.png');
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width:100%;
  margin: 0;
  padding: 0;
}

.logo {
  margin-left: 30px;
  float:left;
  position: fixed;
  top:40px;
}

.pc{
  position: relative;
  top: -14px;
}

.lineac{
  position: relative;
  top: 33%;
  left: 13%;
  display:flex;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top:23%;
left:28%;
  }
  /* Large */
  @media(min-width:992px){
  display: none;
  }
}

.lineac2{
  display:none;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
display: none;
  }
  /* Large */
  @media(min-width:992px){
    top: 32.5%;
    left: 34.7%;
    display: flex;
    position: relative;
  }
}


.experience{
  background-image: url('../images/iconosc-01.svg');
  position: relative;
  background-repeat: no-repeat;
  background-color: #00645e;
  border-radius: 50px;
  display: flex;
  top: -273%;
  left: 8%;
  height: 60px;
  width: 60px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    top: -172%;
    left: 25.5%;
    display: flex;
    position: relative;
  }
  /* Large */
  @media(min-width:992px){
    top: -221%;
    left: 33.4%;
  }
}

.trabajos{
  position: relative;
  display: flex;
  top: -276%;
  left: 18%;
  color: #fff;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    color: #fff;
    left: 30%;
top: -181%;
}
/* Large */
@media(min-width:992px){
  left: 36%;
  top: -235%;
}
}

.ext{
  position: relative;
  display: flex;
  top: -279%;
  left: 27%;
  color:#fff;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top:-180%;
left:35.5%;
  }
  /* Large */
  @media(min-width:992px){
    top:-232%;
    left:38.5%;
  }
}

.skillz{
  background-image: url('../images/iconosc-03.svg');
  position: relative;
      background-repeat: no-repeat;
      top: -272%;
      left: 8%;
      height: 60px;
      width: 60px;
      background-color: #00645e;
      border-radius: 50px;
      display: flex;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top:-180%;
left:25.5%;
  }
  /* Large */
  @media(min-width:992px){
    top: -234.5%;
    left: 33.5%;
  }
}

.skiz{
  position: relative;
  display: flex;
  top: -278%;
  left: 27%;
  color: #fff;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top:-187.5%;
left:35.5%;
  }
  /* Large */
  @media(min-width:992px){
    top:-245.5%;
    left: 39.5%;
  }
}

.skillz2{
  position: relative;
  top: -273%;
  left: 18%;
  color: #fff;
  display: flex;
  width: 100%;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    color: #fff;
    left: 30%;
    top: -190%;
}
/* Large */
@media(min-width:992px){
  color: #fff;
  left: 36%;
  top: -249%;
}
}

.studies{
  background-image: url('../images/iconosc-02.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -266%;
  left: 27px;
  height: 60px;
  width: 60px;
  background-color: #00645e;
border-radius: 50px;
display: flex;
/* Medium */
@media(min-width:768px) and (max-width:991px){
  color: #fff;
  left: 25.5%;
  top: -185%;
}
/* Large */
@media(min-width:992px){
  color: #fff;
  left: 33.5%;
  top: -244%;
}
}

.estudio{
  position: relative;
  display: flex;
  top: -273%;
  left: 27%;
  color: #fff;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    top: -193%;
    left: 36%;
    position: relative;
  }
  /* Large */
  @media(min-width:992px){
    position: relative;
    top: -255%;
    left: 39%;
    color: #fff;
  }
}

.diplomas{
  position: relative;
  display: flex;
  top: -269%;
  left: 18%;
  color: #fff;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    left: 30%;
      top: -193%;
      color:#fff;
}
/* Large */
@media(min-width:992px){
top: -258%;
left: 36%;
color: #fff;
}
}

.download{
  background-image: url('../images/iconosc-04.svg');
  position: relative;
      background-repeat: no-repeat;
      top: -265%;
      left: 8%;
      height: 60px;
      width: 60px;
      background-color: #00645e;
      border-radius: 50px;
      display: -webkit-box;
      display: flex;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    top: -193%;
    left: 25.5%;
  }
  /* Large */
  @media(min-width:992px){
    top: -257%;
    left: 33.3%;
  }
}

.descarga{
  position: relative;
  top: -271%;
  left: 27%;
  color: #fff;
  display: flex;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    top: -201%;
    left: 36%;
  }
  /* Large */
  @media(min-width:992px){
    top: -268%;
    left: 39%;
  }
}


.saludoa{
  color: #fff;
  position: absolute;
  top: 20%;
  left: 14%;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    position:relative;
    top:26%;
    left:410px;
    margin-bottom: 13%;
  }
  /* Large */
  @media(min-width:992px){
    position:relative;
    top:50%;
    left:50%;
    margin-bottom: 13%;
  }
  h5{
    margin:0;
  }
  h1 {
    margin: 0;
  }
  }

.fotomain2{
  /* Small */
  @media(max-width:767px){
  display: none;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
}
  /* Large */
  @media(min-width:992px){

  }
}
}

.progress {
	background:rgba (255,255,255);
  border-radius: 20px;
	height:25px;
  width:220px;
  -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
  -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0    #fcfcfc;
	box-shadow: 0 1px 0px #bbbbbb inset, 0 1px 0 #fcfcfc;
}

.progress-bar {
  background-image: -webkit-linear-gradient(left, #fff 0%,
    #fff 100%);
  background-image: -moz-linear-gradient(left, #fff 0%,
    #fff 100%);
  background-image: -o-linear-gradient(left, #fff 0%,
    #fff 100%);
  background-image: linear-gradient(to right, #fff 0%,
    #fff 100%);
	height:80%;
	position:relative;
  top:10%;
  left:2px;
  border-radius: 20px;
}



#scrolldown {
  bottom: 40px;
  height: 100px;
  position: absolute;
  right: 3%;
  text-align: center;
  width: 100px;
  z-index: 100;

  /* Small */
  @media(max-width:767px){
  display: none;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    display: none;
}
}
}

#scrolldown p {
  font: 700 0.7em/1em 'Avenir',sans-serif;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: scroll;
  color: #fff;
}
#scrolldown > p {
  text-transform: uppercase;
  text-indent: 3px;
}
.mouse {
  border: 2px solid #fff;
  border-radius: 13px;
  display: block;
  height: 46px;
  left: 50%;
  margin: 10px 0 0 -13px;
  position: absolute;
  width: 26px;
}
.mouse span {
  display: block;
  font-size: 1.5em;
  margin: 6px auto;
}
@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
