html {
  height: 100%;
}

body{
  background-image: url('../images/fondo.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width:100%;
  margin: 0;
  padding: 0;
}

.logo {
  margin-left: 30px;
  float:left;
  position: fixed;
  top:40px;
}

.pc{

  position: relative;
  top: -14px;
}

.lineac{
  position: relative;
  top: 220px;
  left: 46px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top:23%;
left:28%;
  }
  /* Large */
  @media(min-width:992px){
    top: 32.5%;
    left: 34.7%;
  }
}

.lineac2{
  position: relative;
  top: 187px;
  left: 46px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top:13%;
left:28%;
  }
  /* Large */
  @media(min-width:992px){
    top:18%;
    left:34.7%;
  }
}

.lineac3{
  position: relative;
  top: -877px;
  left: 46px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    position: absolute;
    top: -77%;
    left: 3%;
  }
  /* Large */
  @media(min-width:992px){
    position: absolute;
    top: -68%;
    left: 3%;
  }
}

.lineac4{
  position: relative;
  top: -1403px;
  left: 46px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top:-1388px;
  }
  /* Large */
  @media(min-width:992px){
  }
}

.experience{
  background-image: url('../images/iconosc-01.svg');
  position: relative;
  background-repeat: no-repeat;
  top: 220px;
  left: 27px;
  height: 60px;
  width: 60px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top:23%;
left:25.5%;
  }
  /* Large */
  @media(min-width:992px){
    top: 32.5%;
    left: 33.4%;
  }
}

.trabajos{
  position: relative;
  top: -540px;
  left: 94px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    color: #fff;
    left: 37%;
top: -59%;
}
/* Large */
@media(min-width:992px){
  color: #fff;
  left: 40%;
top: -77%;
}
}

.ext{
  position: relative;
  top: 177px;
  left: 95px;
  color: #fff;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top:15.5%;
left:35.5%;
  }
  /* Large */
  @media(min-width:992px){
    top:21.5%;
    left:38.5%;
  }
}

.skills{
  background-image: url('../images/iconosc-03.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -510px;
  left: 27px;
  height: 60px;
  width: 60px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top:-56%;
left:25.5%;
  }
  /* Large */
  @media(min-width:992px){
    top: -75.5%;
    left: 33.5%;
  }
}

.ski{
  position: relative;
  top: -550px;
  left: 95px;
  color: #fff;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top:-63.5%;
left:35.5%;
  }
  /* Large */
  @media(min-width:992px){
    top: -86.5%;
    left: 39.5%;
  }
}

.skills2{
  position: relative;
  top: -515px;
  left: 94px;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    color: #fff;
    left:12%;
}
/* Large */
@media(min-width:992px){
  color: #fff;
  left:8.2%;
}
}

.studies{
  background-image: url('../images/iconosc-02.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -805px;
  left: 27px;
  height: 60px;
  width: 60px;
}

.estudio{
  position: relative;
  top: -845px;
  left: 95px;
  color: #fff;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top:-70%;
position: absolute;
  }
  /* Large */
  @media(min-width:992px){
  }
}

.diplomas{
  position: relative;
  top: -820px;
  left: 94px;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    color: #fff;
    left: 15%;
}
/* Large */
@media(min-width:992px){
}
}

.download{
  background-image: url('../images/iconosc-04.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -1404px;
  left: -21px;
  height: 60px;
  width: 60px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    top: -1151px;
    left: 147px;
  }
  /* Large */
  @media(min-width:992px){
  }
}

.descarga{
  position: relative;
  top: -1447px;
  left: 50px;
  color: #fff;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    top: -1231px;
    left: 216px;
  }
  /* Large */
  @media(min-width:992px){
  }
}

.flecha{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -462px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    left: 32%;
top: -51%;
}
/* Large */
@media(min-width:992px){
  left: 37%;
top: -67%;
}
}

.flecha2{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -264px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    left: 32%;
top: -31.5%;
}
/* Large */
@media(min-width:992px){
  left: 37%;
top: -40%;
}
}

.flecha3{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -66px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    left: 32%;
top: -11.5%;
}
/* Large */
@media(min-width:992px){
  left: 37%;
top: -11.5%;
}
}

.flecha4{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -336px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    left: 7%;
}
/* Large */
@media(min-width:992px){
}
}

.flecha5{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -316px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    left: 7%;
    top:-312px;
}
/* Large */
@media(min-width:992px){
}
}

.flecha6{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -296px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    left: 7%;
    top:-291px;
}
/* Large */
@media(min-width:992px){
}
}
.flecha7{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -276px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    left: 7%;
    top: -268px;
}
/* Large */
@media(min-width:992px){
}
}

.flecha8{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -256px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    left: 7%;
      top: -247px;
}
/* Large */
@media(min-width:992px){
}
}

.flecha9{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -236px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    left: 7%;
      top: -225px;
}
/* Large */
@media(min-width:992px){
}
}

.flecha10{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -217px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    left: 7%;
      top: -205px;
}
/* Large */
@media(min-width:992px){
}
}

.flecha11{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -196px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    left: 7%;
      top: -182px;
}
/* Large */
@media(min-width:992px){
}
}

.flecha12{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -722px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
left: 10%;
  }
  /* Large */
  @media(min-width:992px){
  }
}
.flecha13{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -630px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
left: 10%;
  }
  /* Large */
  @media(min-width:992px){
  }
}
.flecha14{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -538px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
left: 10%;
  }
  /* Large */
  @media(min-width:992px){
  }
}
.flecha15{
  background-image: url('../images/flecha-05.svg');
  position: relative;
  background-repeat: no-repeat;
  top: -422px;
  left:67px;
  height: 20px;
  width: 20px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
left: 10%;
  }
  /* Large */
  @media(min-width:992px){
  }
}

.todo{
  position: relative;
  top: -163px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top:-29%;
left:25%;
  }
  /* Large */
  @media(min-width:992px){
    top: -79%;
    left: 31.6%;
  }
}

.todo2{
  position: relative;
  top: -235px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top:2%;
left:22%;
  }
  /* Large */
  @media(min-width:992px){
  }
}

.todo3{
  position: relative;
  top: -60px;
}

.todo4{
  position: relative;
  top:-235px;
  left:47px;
}

.bolitas{
  background-image: url('../images/sk-01.svg');
  position: absolute;
  background-repeat: no-repeat;
  top: -110px;
  left:220px;
  height: 60px;
  width: 140px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top: -19%;
  }
  /* Large */
  @media(min-width:992px){
    left: 20%;
        top:-7%;
  }
}

.bolitas1{
  background-image: url('../images/sk-03.svg');
  position: absolute;
  background-repeat: no-repeat;
  top: -271px;
  left:220px;
  height: 60px;
  width: 140px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top: -53%;
  }
  /* Large */
  @media(min-width:992px){
    left: 20%;
        top:-26.7%;
  }
}

.bolitas2{
  background-image: url('../images/sk-02.svg');
  position: absolute;
  background-repeat: no-repeat;
  top: -311px;
  left:220px;
  height: 60px;
  width: 140px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top: -61%;
  }
  /* Large */
  @media(min-width:992px){
    left: 20%;
        top:-31%;
  }
}

.bolitas3{
  background-image: url('../images/sk-04.svg');
  position: absolute;
  background-repeat: no-repeat;
  top: -230px;
  left:220px;
  height: 60px;
  width: 140px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top: -44%;
  }
  /* Large */
  @media(min-width:992px){
    left: 20%;
        top:-22%;
  }
}

.bolitas4{
  background-image: url('../images/sk-05.svg');
  position: absolute;
  background-repeat: no-repeat;
  top: -190px;
  left:220px;
  height: 60px;
  width: 140px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top: -36%;
  }
  /* Large */
  @media(min-width:992px){
    left: 20%;
        top:-17%;
  }
}

.bolitas5{
  background-image: url('../images/sk-06.svg');
  position: absolute;
  background-repeat: no-repeat;
  top: -150px;
  left:220px;
  height: 60px;
  width: 140px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top: -28%;
  }
  /* Large */
  @media(min-width:992px){
    left: 20%;
        top:-12%;
  }
}

.bolitas6{
  background-image: url('../images/sk-07.svg');
  position: absolute;
  background-repeat: no-repeat;
  top: -350px;
  left:220px;
  height: 60px;
  width: 140px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top: -70%;
  }
  /* Large */
  @media(min-width:992px){
    left: 20%;
    top:-36%;
  }
}

.bolitas7{
  background-image: url('../images/sk-08.svg');
  position: absolute;
  background-repeat: no-repeat;
  top: -70px;
  left:220px;
  height: 60px;
  width: 140px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
top: -10%;
  }
  /* Large */
  @media(min-width:992px){
    left: 20%;
    top: -2.2%;
  }
}

.saludoa{
  color: #fff;
  position: absolute;
  top: 20%;
  left: 14%;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    position:relative;
    top:26%;
    left:410px;
    margin-bottom: 13%;
  }
  /* Large */
  @media(min-width:992px){
    position:relative;
    top:50%;
    left:50%;
    margin-bottom: 13%;
  }
  h5{
    margin:0;
  }
  h1 {
    margin: 0;
  }
  }
