body{
  background-image: url('../images/fondo.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}

.Menu{
  display: flex;
  float: right;
  color: #fff;

  a{
    text-decoration: none;
    border:none;
    box-shadow: none;
    color: #fff;
  }

  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    float:right;
  }

  .linea_horizontal{
    display: flex;
    flex-direction: column;
    size:2;
    width:80%;
    color: #fff;
  }

  .alineado{
    display: inline-flex;
    float: right;
  }

}
