html {
  height: 100%;
}

body{
  background-image: url('../images/fondo.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width:100%;
  margin: 0;
padding: 0;
}

.megatitulo{
  color: #fff;
  position: absolute;
  top: 9%;
  left: 30%;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    top: 2%;
    left: 17%;
}
/* Large */
@media(min-width:992px){
  top: 2%;
  left: 10%;
  position: absolute;

}
}
.titulo {
  color: #fff;
  position: relative;
  top: 15%;
  left: 14%;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    top: 9%;
    left: 8%;
}
/* Large */
@media(min-width:992px){
top:11%;
left:10%;
}
}

.subtitulo {
  color: #fff;
  position: relative;
  top: 11%;
  left: 14%;

  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    top: 6%;
    left: 8%;
}
/* Large */
@media(min-width:992px){
top:7%;
left:10%;

}
}

.fotosshiseido{
  position: relative;
  top: 90px;
  left: 55px;
  /* Medium */
  @media(min-width:768px) and (max-width:991px){
    left: 250px;
}
/* Large */
@media(min-width:992px){
left:40%;
}
}

.iconosshiseido{
  ul {
    position: relative;
    bottom: 0;
    padding: 0 25px 25px;
    margin: 0 auto;

    /* Small */
    @media(max-width:767px){
      position: relative;
      display: flex;
      top: 125px;
      left: 55px;
    }

    /* Medium */
    @media(min-width:768px) and (max-width:991px){
      display: flex;
      position: absolute;
      flex-direction: row;
      left: 253px;
      top: 1450px;
    }
    /* Large */
    @media(min-width:992px){
      position: fixed;
      top:70%;
    }

  li {
      display: block;
      list-style-type: none;
      margin: 10px;
    }
  }
  /** Linkedin **/

  .linkedin {
    width: 50px;
    height: 50px;
  }

  .linkedin .border {
    background: transparent;
    color:#fff;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: 2px solid #fff;
    transition: all .2s ease-in-out;
  }

  .linkedin .border:hover {
    background: #295266;
    border-color: #0a1e29;
    color: rgba(255,255,255, 0.9);
    transform: scale(1.2);
  }

  .fa.fa-linkedin {
    font-size: 25px;
  }

  /** Mail **/

  .linkedin2 {
    width: 50px;
    height: 50px;
  }

  .linkedin2 .border {
    background: transparent;
    color:#fff;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: 2px solid #fff;
    transition: all .2s ease-in-out;
  }

  .linkedin2 .border:hover {
    background: #295266;
    border-color: #0a1e29;
    color: rgba(255,255,255, 0.9);
    transform: scale(1.2);
  }

  .fa.fa-linkedin2 {
    font-size: 25px;
  }

  /** Instagram **/

  .instagram {
    width: 50px;
    height: 50px;
  }

  .instagram .border {
    background: transparent;
    color:#fff;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    border: 2px solid #fff;
    transition: all .2s ease-in-out;
  }

  .instagram .border:hover {
    background: #295266;
    border-color: #0a1e29;
    color: rgba(255,255,255, 0.9);
    transform: scale(1.2);
  }

  .fa.fa-instagram {
    font-size: 25px;
  }
}
