.titulo {
  color: #fff;
  position: relative;
  top: 15%;
  left: 15%;
}

.subtitulo {
  color: #fff;
  position: relative;
  top: 25%;
  left: 15%;
}

.fotosshiseido{
  position: relative;
  top: 205px;
  left: 55px;

}
